bin/**
.classpath
.idea/**
*.iml
**/*.db
**/*.pdf
jacoco.exec
**/.~lock*
*.log
logs/**
.metadata/**
.project
.settings/**
doc/style.css
*.swp
**/TODO.html
tools/JTM.jar
tools/proj-list.txt
tools/proj-source.txt
wbp-meta/**
/target/
/.python-version
